:root {
  --base-color: rgb(231, 224, 209); /* background */
  --base-variant: rgb(235, 230, 218);  /* panels or cards */
  --text-color: rgb(24, 24, 24);  /* main text */
  --secondary-text: rgb(0, 0, 0);  /* all headers */
  --primary-color: rgba(0, 0, 0, 0.877);  /* card slider pagination & arrows */
  --accent-color: rgba(49, 49, 49, 0.705);  /* tagline, subheadings in about me, glow, navbar hgihlight */
}

body {
  background-color: var(--base-color);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

/* slide in animations*/
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* font classes */
/*
.pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}
  */

.splash {
  margin: 0;
  text-align: center;
  padding: 0;
  /* space in between text and image*/
  animation: slideInTop 2.5s ease forwards;
}

.splash h1 {
  /* use clamp to scale font size with device size*/
  font-size: clamp(30px, 12vw, 220px);
  /* to keep on 1 line use nowrap */
  white-space: nowrap;
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--secondary-text);
  margin: 0;
  padding: 10px;
  margin-bottom: 10px;
  line-height: 1; /* remove space around header 1 */
  letter-spacing: 10px;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 55px;
  margin: 0;
  /* separates <ul> elements to ends of page */
  background-color: var(--base-color);
  border-bottom: 2px solid var(--primary-color);
  border-top: 2px solid var(--primary-color);
  animation: fadeIn 6s ease forwards;
}

/* use period for custom classes (ex. ".navlist{}" as opposed to "navlist{}" */
.navlist {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0 10px;
  font-size: 18px;
}

.navlist a {
  text-decoration: none;
  color: var(--text-color);
  padding: 0.5rem 1rem;
}

.navlist a.active {
  font-weight: bolder;
  font-style: oblique;
  text-decoration: underline;
}

.navlist a:hover {
  text-decoration: underline;
}

.navlist a:visited {
  color: var(--text-color)
}

.tagline {
  font-size: clamp(7px, 5vw, 66px);
  width: fit-content;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  color: var(--secondary-text);
  animation: slideInLeft 2.5s ease forwards;
}

section {
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 30px 0px 30px;
  gap: 10px;
  text-align: justify;
  max-width: 100%; /* occupy full width of screen */
  margin: 0 auto;
}

.about img {
  flex: 0 0 59%; /* to maintain 60% of the container*/
  max-width: 59%;
  height: auto;
  align-self: flex-start;
  animation: slideInLeft 2.5s ease forwards;
  border: 3.5px solid var(--accent-color);
}

.about_text {
  flex: 0 0 39%; /* to maintain 40% of the page*/
  animation: slideInRight 2.5s ease forwards;
}

h2 {
  font-weight: 700;
  font-size: 50px;
  color: var(--secondary-text);
  margin: 0 auto;
}

.about h4 {
  margin: 0;
  padding: 0;
  font-size: 23px;
  color: var(--accent-color);
}

.about p {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.work {
  justify-content: space-between;
  text-align: justify;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 0;
  gap: 15px;
  animation: slideInLeft 2.5s ease forwards;
}

.work h5 {
  margin: 0;
  padding: 0;
  font-size: 25px;
}

.work h6 {
  margin: 0;
  padding: 0;
  font-size: 23px;
  font-style: italic;
}

.work p {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.projects {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 99%;
  margin: 0 auto;
  margin-top: 10px;
  animation: slideInRight 2.5s ease forwards;
}

.projects .swiper {
  position: relative;
  flex: 0 0 auto;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 99%;
}

.card-link {
  text-decoration: none;
  color: var(--text-color);
}

.card-wrapper {
  position: relative;
  padding: 10px;
  overflow: visible;
}

.card-wrapper .swiper-pagination-bullet {
  height: 10px;
  width: 10px;
  opacity: 0.3;
  background: var(--primary-color);
}

.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.card-wrapper .swiper-button-prev,
.card-wrapper .swiper-button-next {
  color: var(--primary-color);
  width: 15px;
  height: auto;
  /* z-index for stacking order: high number = on top */
  z-index: 10;
  transition: transform 0.2s;
}

.card-wrapper .swiper-button-prev:hover,
.card-wrapper .swiper-button-next:hover {
  transform: scale(1.09);
}

.card {
  padding: 0 30px;
  overflow: hidden;
  margin: 0 20px 30px 20px;
  transition: transform 0.3s, border 0.3s, outline 0.3s, box-shadow 0.3s;
}

.card h4 {
  padding-top: 15px;
  margin-top: 0;
  font-size: 25px;
  text-align: center;
}

.card p {
  text-align: justify;
}

.card:hover {
  border: 3px solid var(--accent-color);
  outline: 1px solid var(--primary-color);
  box-shadow: 0 0 20px var(--accent-color);
  transform: scale(1.04);
}

.card img {
  max-width: 93%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.card-body {
  padding: 15px;
}

.contact {
  padding-top: 20px;
  padding-bottom: 50px;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  animation: slideInBottom 2.5s ease forwards;
}

.contact h2 {
  margin-bottom: 16px;
}

.contact-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}

.contact-options a {
  text-decoration: none;
  color: var(--text-color);
}

.contact-card {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color);
  outline: 1px solid var(--primary-color);
  width: 100px;
  height: 100px;
  padding: 20px 10px 0px 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.contact-card:hover {
  transform: translateY(-8px) scale(1.05);
  box-shadow: 0 0 18px var(--accent-color);
}

@media (max-width: 1024px) {
  .about {
    flex-direction: column;
    margin: 0 20px;
  }

  .about img,
  .about_text {
    flex: 0 0 100%;
    max-width: 100%; /* override desktop max-width settings*/
    width: 100%;
  }
}

@media (max-width: 680px) {
  .splash {
    margin: 0 20px;
  }

  .splash h1 {
    font-size: clamp(10px, 12vw, 75px);
    letter-spacing: 8px;
}

  nav {
    height: 45px;
  }

  .navlist {
    padding: 0 8px;
    font-size: 15px;
  }

  .about {
    flex-direction: column;
    margin: 0 20px;
  }

  .about img,
  .about_text {
    flex: 0 0 100%;
    max-width: 100%; /* override desktop max-width settings*/
    width: 100%;
  }

  .work {
    flex-direction: column;
    margin-top: 15px;
  }
}
@media (max-width: 570px) {
  nav {
    height: 40px;
  }

  .navlist {
    padding: 0 8px;
    font-size: 13px;
  }
}